n8n/workflows/5-JobRunner.json
{
  "name": "5-JobRunner",
  "nodes": [
    {
      "parameters": {
        "model": "google_gemma-4-E4B-it-Q8_0.gguf",
        "options": {
          "presencePenalty": 1.5,
          "temperature": 0.7,
          "topP": 0.8
        }
      },
      "id": "83e7eaf7-b040-46dd-bfba-c18a2562226e",
      "name": "LlamaCpp Main",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -784,
        1056
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "KwvObCRrsz5xzoGV",
          "name": "LlamaCpp"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=baxter-main",
        "contextWindowLength": 2
      },
      "id": "d8c8b71e-a73b-4e52-8f5a-d4991589276e",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -624,
        1056
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "const job = $('GetPendingJob').first().json;\nreturn [{\n  json: {\n    id: job.id,\n    name: job.title,\n    type: 'task',\n    status: 'in_progress',\n    agent: job.agent,\n    prompts: {\n      user: job.instructions,\n      core: 'core-prompt-v1',\n      context: job.instructions\n    },\n    metadata: {\n      inputType: 'task',\n      telegram: {\n        channelId: job.channel_id,\n        messageId: null\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        800
      ],
      "id": "9361d7a1-f658-4f7e-a652-d9fff5c2cc71",
      "name": "ParseInput"
    },
    {
      "parameters": {
        "jsCode": "let input = $input.first().json;\n\n// Detect task JSON format vs legacy format\nconst isTaskJson = input.prompts !== undefined;\n\nconst inputType = isTaskJson ? (input.metadata?.inputType ?? 'unknown')       : (input.InputType ?? 'unknown');\nconst userInput = isTaskJson ? (input.prompts?.user ?? '')                    : (input.RequestInput?.input ?? '');\nconst channelID = isTaskJson ? (input.metadata?.telegram?.channelId ?? null) : (input.ChannelInformation?.ChannelID ?? null);\nconst messageID = isTaskJson ? (input.metadata?.telegram?.messageId ?? null) : (input.ChannelInformation?.MessageID ?? null);\n\nreturn {\n  InputType: inputType,\n  RequestInput: {\n    input: userInput + \"\\n\\n###OUTPUT###\\nStart your final answer with the exact token RESPONSE: on its own line.\"\n  },\n  ChannelInformation: {\n    ChannelID: channelID,\n    MessageID: messageID\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        800
      ],
      "id": "5f2b0257-c49b-4c80-b9c8-37a67059ff76",
      "name": "SetVars"
    },
    {
      "parameters": {
        "jsCode": "let vars = $('SetVars').first().json;\nlet rawOutput = $('Agent').first().json.output ?? '';\n\nconst cleanResponse = (input) => {\n    if (!input || typeof input !== 'string') return '';\n\n    let output = input.replace(/\\\\n/g, '\\n');\n\n    // Strip <think> blocks\n    output = output.replace(/<think>[\\s\\S]*?<\\/think>/gi, '');\n    output = output.replace(/<think>[\\s\\S]*/gi, '');\n\n    // Strip Gemma 4 <|channel>thought...<channel|> blocks\n    output = output.replace(/<\\|channel>thought[\\s\\S]*?<channel\\|>/gi, '');\n    output = output.replace(/<\\|channel>thought[\\s\\S]*/gi, '');\n\n    output = output.trim();\n\n    // Extract everything after the last RESPONSE: marker\n    const matches = [...output.matchAll(/RESPONSE:\\s*/g)];\n    if (matches.length > 0) {\n        const last = matches[matches.length - 1];\n        const extracted = output.slice(last.index + last[0].length).trim();\n        if (extracted.length > 0) return extracted.slice(0, 3000) + (extracted.length > 3000 ? '...' : '');\n    }\n\n    // Fallback: filter out reasoning lines\n    const reasoningPatterns = [\n        /^(okay|ok|alright|right|so|well)[,\\s]/i,\n        /^let me\\s/i,\n        /^i('ll| will| need to| should| must| can| am going to)\\s/i,\n        /^i('ve| have) (retrieved|fetched|found|got|collected)/i,\n        /^now i('ll| need| should| will| can)/i,\n        /^(first|now|next|then|finally)[,\\s]/i,\n        /^the user[\\s(wants|asked|needs)]/i,\n        /^they (want|asked|need|said)/i,\n        /^(looking at|checking|reviewing|analyzing|considering)/i,\n        /^(since|given that|because|as)\\s/i,\n        /^(therefore|thus|so|hence)\\s/i,\n        /^my (response|answer|plan|approach)/i,\n        /^let me (format|organize|structure|present|summarize|summarise)/i,\n        /^here('s| is) (a summary|the|what)/i,\n        /^this (seems|looks|appears|is a)/i,\n        /^it (seems|looks|appears)/i,\n        /^(OUTPUT:|##OUTPUT|Start your final answer|\\/no_think)/i,\n    ];\n\n    const lines = output.split('\\n').map(l => l.trim()).filter(Boolean);\n    const responseLines = lines.filter(l => !reasoningPatterns.some(p => p.test(l)));\n    const result = (responseLines.length > 0 ? responseLines : [lines[lines.length - 1] || '']).join('\\n').trim();\n    return result.slice(0, 3000) + (result.length > 3000 ? '...' : '');\n};\n\nlet response = cleanResponse(rawOutput);\nif (!response || response.trim().length === 0) {\n    response = 'Sorry, I ran into an issue formulating a response. Please try again.';\n}\n\nreturn {\n    ...vars,\n    AgentOutput: {\n        response,\n        model: null,\n        tokens: { prompt: null, completion: null, total: null },\n        metadata: {}\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        800
      ],
      "id": "da01a17a-e979-4d11-ac43-821d5579f6a7",
      "name": "SetOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('SetVars').first().json.RequestInput.input }}",
        "options": {
          "systemMessage": "={{ $('BuildSystemPrompt').first().json.systemPrompt }}",
          "maxIterations": 15,
          "returnIntermediateSteps": false
        }
      },
      "id": "55533cd7-2cdc-4b68-92e7-c2c69bc45426",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        256,
        800
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this only when you are unsure of the database table structure before writing a query. Skip this if you already know the schema.",
        "operation": "executeQuery",
        "query": "SELECT table_name, column_name, data_type \nFROM information_schema.columns \nWHERE table_schema = 'public'\nORDER BY table_name, ordinal_position;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -464,
        1200
      ],
      "id": "22d1ee96-93d2-45a3-a6e3-87f5f918929c",
      "name": "GetSchema",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Execute a SQL SELECT query against PostgreSQL to retrieve conversation history. Always filter WHERE channel_id = [channel_id]. Table: message_history | Columns: id, channel_id, input_type, user_input, created_at. Example: SELECT id, input_type, user_input, created_at FROM message_history WHERE channel_id = {{ $json.ChannelInformation.ChannelID }} ORDER BY created_at DESC LIMIT 10",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query', 'SQL SELECT query against message_history table') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -320,
        1200
      ],
      "id": "b0de93e0-c4a0-4f4c-a5da-04a490b1841c",
      "name": "ExecQuery",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        592,
        2096
      ],
      "id": "b4a10e47-2f0e-4c2a-8d3d-9e67b9954f0f",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "toolDescription": "Research Agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=LANGUAGE: Always respond in English only, regardless of the language of the query or tool results.\nYou are a research agent with access to three tools:\n\n- Wikipedia: for factual, historical, and encyclopedic queries.\n- DuckDuckGo: for current events, news, or anything Wikipedia does not cover well.\n- Weather: for any question about current conditions or forecasts for a specific location.\n\nUse the most appropriate tool for the query. Use multiple tools when cross-referencing would improve the answer. Always base your response on tool results, never on your own knowledge."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        320,
        1616
      ],
      "id": "5050e7a7-4d58-47cb-b0b5-df4d68613f15",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "query": "$fromAI",
        "webSearchOptions": {
          "maxResults": 5,
          "region": "wt-wt",
          "safeSearch": 0
        },
        "cacheSettings": {
          "enableCache": true,
          "cacheTTL": 300
        },
        "reliabilitySettings": {},
        "proxySettings": {},
        "searchFilters": {}
      },
      "type": "n8n-nodes-duckduckgo-search.duckDuckGoTool",
      "typeVersion": 1,
      "position": [
        464,
        2096
      ],
      "id": "76c3cd41-93cf-4eaa-b522-f67ed527a33a",
      "name": "DuckDuckGo"
    },
    {
      "parameters": {
        "toolDescription": "Get current weather and forecast for any location. Provide the city name only as the location parameter, no country or comma. Example: Rotterdam",
        "url": "=https://wttr.in/{{ encodeURIComponent($fromAI('location', 'The city name only, no country. Example: Rotterdam')) }}?format=j1&units=m",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        336,
        2096
      ],
      "id": "4ce7225b-cd9d-49bd-8cf2-b841d4985e00",
      "name": "WeatherAPI"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Query long-term memory for relevant context about the user and past conversations",
        "qdrantCollection": {
          "__rl": true,
          "value": "baxter_memory",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        160,
        1200
      ],
      "id": "67c4c777-5841-4c13-bad4-14eebb5557dc",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "aDY94b6gH9Fj5hxk",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        160,
        1408
      ],
      "id": "72cd90f7-cf4f-4720-98b0-c88f44da483e",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "d4PPJUecv5laznT9",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "google_gemma-4-E4B-it-Q8_0.gguf",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        704,
        1808
      ],
      "id": "98767e79-25d6-44e1-ab10-7795f5569c99",
      "name": "LlamaCpp PM",
      "credentials": {
        "openAiApi": {
          "id": "KwvObCRrsz5xzoGV",
          "name": "LlamaCpp"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use for anything related to tasks, projects, subtasks, priorities and due dates. Pass the full user request as the prompt.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are Baxter's project management module. You manage projects, tasks, subtasks, and reminders.\n\nLANGUAGE: English only.\nFORMAT: Plain text only. No markdown, no bullet points, no headers.\n\nTOOLS:\n- GetProjects — retrieve all projects. Call before any project action.\n- UpsertProject — create or update a project. MUST be called to apply any change. Status values: active, on_hold, completed.\n- GetTasks — retrieve all tasks. Call before any task action.\n- UpsertTask — create or update a task. MUST be called to apply any change. Use completed=true to mark done.\n- GetSubtasks — retrieve subtasks for a given task. Call before any subtask action.\n- UpsertSubtask — create or update a subtask. MUST be called to apply any change.\n- GetReminders — retrieve all pending reminders.\n- UpsertReminder — create a new reminder. MUST be called to apply any change.\n\nRULES:\n- channel_id is always: {{ $('SetVars').first().json.ChannelInformation.ChannelID }}\n- Before any update, always call the relevant Get tool first to confirm the item exists. Use the existing name/title exactly as stored when calling Upsert — this ensures the unique constraint matches correctly.\n- Priority values: low, medium, high, critical\n- Date format: YYYY-MM-DD\n- Reminder datetime format: YYYY-MM-DD HH:MM:SS in UTC. User is in CET (UTC+1), subtract 1 hour before storing.\n- task_id and subtask_id are optional on reminders. Leave both empty for standalone reminders.\n- CRITICAL: Never confirm any action to the user unless you have received a successful response from the relevant tool call. If the tool was not called, do not claim the action was completed.\n\nPROACTIVE SUGGESTIONS:\n- After creating a project: ask if the user wants to add tasks to it\n- After creating a task: ask if the user wants to set a reminder for it\n- After creating a reminder: ask if the user wants to add subtasks to the linked task\n- After marking a task or project complete: ask if any related items need updating\n- One suggestion only, kept to a single short question at the end of your response\n\nOUTPUT: End every response with RESPONSE: followed by your answer.",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        864,
        1616
      ],
      "id": "56431b25-35c8-4529-9784-6df75cd65f0d",
      "name": "Project Manager"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get tasks. Use to retrieve pending, overdue, or completed tasks.",
        "operation": "executeQuery",
        "query": "SELECT id, title, details, category, priority, due_date, completed, project_id, created_at \nFROM tasks \nWHERE channel_id = {{ $('SetVars').first().json.ChannelInformation.ChannelID }}\nAND completed = FALSE\nORDER BY due_date ASC NULLS LAST, priority DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        944,
        2032
      ],
      "id": "6717f517-a8e6-4674-9680-b7ae40dcaa96",
      "name": "GetTasks",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "baxter-rs",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        1824
      ],
      "id": "dc039aad-e6ce-45e4-8f1f-cb123e6aac4c",
      "name": "Memory RS"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "baxter-pm",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        1808
      ],
      "id": "d4afb204-43e8-4db1-bdfe-6cff0d7fe934",
      "name": "Memory PM"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get subtasks for a specific task by task_id",
        "operation": "executeQuery",
        "query": "SELECT id, task_id, title, completed \nFROM subtasks \nWHERE task_id = {{ $fromAI('task_id', 'The parent task ID') }}\nAND completed = FALSE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1072,
        2032
      ],
      "id": "aff68c0a-53a4-4476-b998-876e7e10b935",
      "name": "GetSubtasks",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create or update a task. Use for adding new tasks or updating existing ones.",
        "operation": "executeQuery",
        "query": "INSERT INTO tasks (channel_id, title, details, category, priority, due_date, completed, project_id)\nVALUES (\n    {{ $('SetVars').first().json.ChannelInformation.ChannelID }},\n    '{{ $fromAI('title', 'Task title') }}',\n    '{{ $fromAI('details', 'Task details') }}',\n    '{{ $fromAI('category', 'Task category') }}',\n    '{{ $fromAI('priority', 'Priority: low, medium, high, critical') }}',\n    NULLIF('{{ $fromAI('due_date', 'Due date in YYYY-MM-DD format, or leave empty') }}', '')::date,\n    {{ $fromAI('completed', 'Boolean, default false') }},\n    NULLIF('{{ $fromAI('project_id', 'Project ID to link to, or leave empty') }}', '')::integer\n)\nON CONFLICT (channel_id, title) DO UPDATE SET\n    details = EXCLUDED.details,\n    category = EXCLUDED.category,\n    priority = EXCLUDED.priority,\n    due_date = EXCLUDED.due_date,\n    completed = EXCLUDED.completed,\n    project_id = EXCLUDED.project_id,\n    updated_at = NOW()\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        944,
        2208
      ],
      "id": "9007edbe-ea04-4655-bc0f-75dacb990db3",
      "name": "UpsertTask",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create or update a subtask for a given task_id",
        "operation": "executeQuery",
        "query": "INSERT INTO subtasks (task_id, title, completed)\nVALUES (\n    {{ $fromAI('task_id', 'Parent task ID') }},\n    '{{ $fromAI('title', 'Subtask title') }}',\n    {{ $fromAI('completed', 'Boolean, default false') }}\n)\nON CONFLICT (task_id, title) DO UPDATE SET\n    completed = EXCLUDED.completed\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1072,
        2208
      ],
      "id": "bcb6e02f-c9bf-48ca-a850-4e4516ba68a0",
      "name": "UpsertSubtask",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get subtasks for a specific task by task_id",
        "operation": "executeQuery",
        "query": "SELECT r.id, r.message, r.remind_at, r.task_id, r.subtask_id\nFROM reminders r\nWHERE r.channel_id = {{ $('SetVars').first().json.ChannelInformation.ChannelID }}\nAND r.sent = FALSE\nAND r.remind_at > NOW()\nORDER BY r.remind_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1200,
        2032
      ],
      "id": "8750c2a0-e8aa-4956-b776-d9ec32471421",
      "name": "GetReminders",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create or update a task. Use for adding new tasks or updating existing ones.",
        "operation": "executeQuery",
        "query": "INSERT INTO reminders (channel_id, task_id, subtask_id, remind_at, message)\nVALUES (\n    {{ $('SetVars').first().json.ChannelInformation.ChannelID }},\n    NULLIF('{{ $fromAI('task_id', 'Task ID as a number, or leave empty if not applicable') }}', '')::integer,\n    NULLIF('{{ $fromAI('subtask_id', 'Subtask ID as a number, or leave empty if not applicable') }}', '')::integer,\n    '{{ $fromAI('remind_at', 'Datetime in YYYY-MM-DD HH:MM:SS format') }}',\n    '{{ $fromAI('message', 'Reminder message text') }}'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1200,
        2208
      ],
      "id": "3144bb95-95fe-4224-a260-d4c0b512d35b",
      "name": "UpsertReminders",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get tasks. Use to retrieve pending, overdue, or completed tasks.",
        "operation": "executeQuery",
        "query": "SELECT id, name, description, status, due_date, created_at\nFROM projects\nWHERE channel_id = {{ $('SetVars').first().json.ChannelInformation.ChannelID }}\nAND status != 'completed'\nORDER BY due_date ASC NULLS LAST;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        816,
        2032
      ],
      "id": "10ae6185-526b-4636-acc0-6d1f322c3985",
      "name": "GetProjects",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create or update a task. Use for adding new tasks or updating existing ones.",
        "operation": "executeQuery",
        "query": "INSERT INTO projects (channel_id, name, description, status, due_date)\nVALUES (\n    {{ $('SetVars').first().json.ChannelInformation.ChannelID }},\n    '{{ $fromAI('name', 'Project name') }}',\n    '{{ $fromAI('description', 'Project description') }}',\n    '{{ $fromAI('status', 'Status: active, on_hold, completed') }}',\n    NULLIF('{{ $fromAI('due_date', 'Due date in YYYY-MM-DD format, or leave empty') }}', '')::date\n)\nON CONFLICT (channel_id, name) DO UPDATE SET\n    description = EXCLUDED.description,\n    status = EXCLUDED.status,\n    due_date = EXCLUDED.due_date\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        816,
        2208
      ],
      "id": "fe2a4e7e-c9fb-4fb2-9305-b68f209fd12f",
      "name": "UpsertProject",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT channel_id, soul, user_profile, preferences, current_focus, onboarding_step\nFROM user_profile\nWHERE channel_id = {{ $('SetVars').first().json.ChannelInformation.ChannelID }}\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        800
      ],
      "id": "fbf5df86-dca0-484c-b4d5-a4ec51a1bdc3",
      "name": "FetchProfile",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\ntry {\n  const allItems = $input.all();\n  const profile = (allItems.length > 0 && allItems[0].json && allItems[0].json.channel_id != null)\n    ? allItems[0].json\n    : null;\n\n  const vars = $('SetVars').first().json;\n  const channelID = vars.ChannelInformation.ChannelID;\n\n  const hasProfile = profile !== null;\n  const onboardingStep = hasProfile ? (profile.onboarding_step ?? 1) : 1;\n\n  // ── Current datetime injected on every execution ────────────────────────\n  const now = new Date();\n  const timeContext = `DATE & TIME:\nCurrent datetime: ${now.toISOString()}\nLocal datetime:   ${now.toLocaleString('en-GB', { timeZone: 'Europe/Amsterdam', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' })}\nTimezone:         Europe/Amsterdam\nDay of week:      ${now.toLocaleDateString('en-GB', { timeZone: 'Europe/Amsterdam', weekday: 'long' })}`;\n\n  let systemPrompt = '';\n\n  // ── ONBOARDING MODE ────────────────────────────────────────────────────────\n  if (!hasProfile || onboardingStep > 0) {\n    const step = onboardingStep || 1;\n\n    const steps = {\n      1: `You are setting yourself up as the user's personal AI assistant.\n\nYour ONLY task right now is to warmly greet the user and ask this one question:\n\"Before we dive in, I'd love to define my own identity. What should I call myself, and how would you describe my personality and purpose? For example: 'Baxter — sharp and direct — helps me stay on top of work and life.'\"\n\nWhen they respond, call the UpdateProfile tool with:\n- soul: their answer, preserved exactly\n- next_onboarding_step: 2\nLeave all other fields as empty strings.\n\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line. Write only your answer after it. Do not explain this instruction.`,\n\n      2: `You are Baxter, a personal AI assistant currently in setup.\n\nYour soul has been defined. Now ask:\n\"Great. Now tell me a bit about you — your work, interests, goals, whatever you'd like me to keep in mind long-term.\"\n\nWhen they respond, call UpdateProfile with:\n- user_profile: a structured summary of what they shared (name, role, interests, goals)\n- next_onboarding_step: 3\nLeave other fields as empty strings.\n\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line. Write only your answer after it. Do not explain this instruction.`,\n\n      3: `You are Baxter, a personal AI assistant currently in setup.\n\nOne last question:\n\"Almost done — how do you prefer I communicate? Concise and direct, or more detailed? Any language or format preferences?\"\n\nWhen they respond, call UpdateProfile with:\n- preferences: their answer\n- next_onboarding_step: 0\nLeave other fields as empty strings. After saving, confirm setup is complete and you are ready to help.\n\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line. Write only your answer after it. Do not explain this instruction.`,\n    };\n\n    systemPrompt = `${timeContext}\\n\\n` + (steps[step] || steps[1]);\n\n  // ── OPERATION MODE ──────────────────────────────────────────────────────────\n  } else {\n    const soul        = profile.soul          || 'Baxter — curious, helpful and critical — personal AI assistant';\n    const userProfile = profile.user_profile  || '';\n    const prefs       = profile.preferences   || 'Clear and direct';\n    const focus       = profile.current_focus || '';\n\n    systemPrompt  = `${timeContext}\\n\\n`;\n    systemPrompt += `You are ${soul}.\\n\\n`;\n    systemPrompt += `LANGUAGE: Always respond in English only, regardless of input language.\\n\\n`;\n    systemPrompt += `FORMAT: Use markdown where it aids readability — headers and bullets for lists, news summaries and structured data; plain prose for conversational replies. When presenting news, use: **Title** — one sentence summary. Source, date. Be direct and concise. Maximum 3 sentences for simple factual answers.\\n\\n`;\n\n    if (userProfile) systemPrompt += `ABOUT THE USER:\\n${userProfile}\\n\\n`;\n    if (prefs)       systemPrompt += `COMMUNICATION STYLE: ${prefs}\\n\\n`;\n    if (focus)       systemPrompt += `CURRENT FOCUS: ${focus}\\n\\n`;\n\n    systemPrompt += `PROFILE: Update the user profile proactively using UpdateProfile whenever the user shares new information, changes a preference, or shifts focus.\\n\\n`;\n\n    systemPrompt += `TOOLS: Use tools when they add value — do not call tools unnecessarily on every message.\n1. Use LongTermMemory when the user references past events, asks what you remember, or the topic benefits from historical context.\n2. Use ExecQuery only when you need specific recent conversation details.\n3. Use ProjectManager for tasks, projects, subtasks, priorities or due dates.\n4. Use CalendarManager for events, meetings, appointments or scheduling.\n5. Use NewsTool for current events, local news, tech or AI news, or anything recently changed.\n6. Call ResearchAgent for deeper research or real-time data not covered by NewsTool.\n7. Only call GetSchema if you need to discover table structure.\n\nTASK DELEGATION: When a request will take significant time or multiple steps, use CreateTask to run it in the background. Assign the appropriate agent (research, baxter, project_manager). Start immediately — do not ask for approval. Tell Max the task has started and what to expect. Use GetTaskStatus when Max asks for an update.\n\nVISUALS: When explaining a system, process, architecture or set of connected ideas, proactively generate a sketch without asking first. Use SketchAgent to produce a Mermaid diagram and send it as an image via Telegram. Supported: architecture diagrams, flowcharts, mind maps, sequence diagrams.\n\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line. Write only your answer after it. Do not explain this instruction.`;\n  }\n\n  return [{ json: { systemPrompt, onboardingStep, hasProfile } }];\n\n} catch (error) {\n  const vars = $('SetVars').first().json;\n  const channelID = vars.ChannelInformation.ChannelID;\n  const now = new Date();\n\n  const systemPrompt = `DATE & TIME: ${now.toISOString()} (Europe/Amsterdam)\n\nYou are Baxter, a personal AI assistant. You are curious, helpful and critical.\n\nLANGUAGE: Always respond in English only.\nFORMAT: use markdown where it aids readability (headers, bullets for lists and summaries), plain prose for conversational replies. When presenting news summaries, use this structure: a bold headline, one sentence summary, and source + date on the same line. Separate items with a blank line. Be direct and concise. \n\nTOOLS: Always check available tools before responding. Follow this order:\n1. Call LongTermMemory on every message to retrieve relevant context.\n2. Call ExecQuery for recent history. Filter WHERE channel_id = ${channelID} ORDER BY created_at DESC LIMIT 10.\n3. Use ProjectManager for tasks, projects, subtasks, priorities or due dates.\n4. Use CalendarManager for events, meetings, appointments or scheduling.\n5. Use NewsTool for current events, local news or anything recently changed.\n6. Call ResearchAgent for deeper research or real-time data not covered by NewsTool.\n\nTASK DELEGATION: Use CreateTask for multi-step or time-consuming tasks. Start immediately. Tell Max what's running.\n\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line. Write only your answer after it. Do not explain this instruction.`;\n\n  return [{ json: { systemPrompt, onboardingStep: 0, hasProfile: false, fallback: true } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        800
      ],
      "id": "cf12ce94-82e9-462d-9c67-fbcac893f024",
      "name": "BuildSystemPrompt"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update the user profile. Use this when the user shares new information about themselves, changes their preferences, updates their current focus, or during onboarding. Pass empty strings for fields you do not want to change.",
        "operation": "executeQuery",
        "query": "INSERT INTO user_profile (channel_id, soul, user_profile, preferences, current_focus, onboarding_step, updated_at)\nVALUES (\n  {{ $('SetVars').first().json.ChannelInformation.ChannelID }},\n  NULLIF('{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('soul', 'Soul definition string, or empty string to keep existing value', 'string') }}', ''),\n  NULLIF('{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_profile', 'Structured user profile summary, or empty string to keep existing', 'string') }}', ''),\n  NULLIF('{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('preferences', 'Communication preferences, or empty string to keep existing', 'string') }}', ''),\n  NULLIF('{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('current_focus', 'Current projects or priorities, or empty string to keep existing', 'string') }}', ''),\n  {{ /*n8n-auto-generated-fromAI-override*/ $fromAI('next_onboarding_step', 'Set to 0 when setup is complete, 1-3 during onboarding steps', 'number') }},\n  NOW()\n)\nON CONFLICT (channel_id) DO UPDATE SET\n  soul           = COALESCE(EXCLUDED.soul,          user_profile.soul),\n  user_profile   = COALESCE(EXCLUDED.user_profile,  user_profile.user_profile),\n  preferences    = COALESCE(EXCLUDED.preferences,   user_profile.preferences),\n  current_focus  = COALESCE(EXCLUDED.current_focus, user_profile.current_focus),\n  onboarding_step = EXCLUDED.onboarding_step,\n  updated_at     = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -160,
        1200
      ],
      "id": "d926c332-4c9f-446f-8101-427f3308cefc",
      "name": "UpdateProfile",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "google_gemma-4-E4B-it-Q8_0.gguf",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1344,
        1792
      ],
      "id": "0b1d3471-bf86-40de-938e-fa671c4305f9",
      "name": "LlamaCpp Calendar",
      "credentials": {
        "openAiApi": {
          "id": "KwvObCRrsz5xzoGV",
          "name": "LlamaCpp"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "baxter-calendar",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1520,
        1792
      ],
      "id": "a35ee943-0a03-4a58-9e56-73bbda1742ab",
      "name": "MemoryCalendar"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get calendar events for a given time range. Use ISO 8601 format for timeMin and timeMax. Example: 2025-03-13T00:00:00+01:00",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('limit', 'Max events to return, default 10', 'number') }}",
        "options": {
          "orderBy": "startTime"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1696,
        1792
      ],
      "id": "d0f97456-afe5-4868-bbaa-9758a924fb2b",
      "name": "GetEvents",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vbr0M6KRwoLDAOWC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a new Google Calendar event. Always confirm event details before creating. Check for existing events first to avoid duplicates.",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_datetime', 'Event start in ISO 8601 format e.g. 2025-03-13T14:00:00+01:00', 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_datetime', 'Event end in ISO 8601 format', 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', 'Event description or empty string', 'string') }}",
          "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('location', 'Event location or empty string', 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title', 'Event title', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1856,
        1792
      ],
      "id": "c8c210d7-95de-4d89-bf3e-78dd222ee5dd",
      "name": "CreateEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vbr0M6KRwoLDAOWC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update an existing Google Calendar event by event ID. Fetch the event ID using GetEvents first.",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('event_id', 'The Google Calendar event ID to update', 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', 'New description or empty to keep', 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_datetime', 'New end datetime in ISO 8601 or empty to keep', 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_datetime', 'New start datetime in ISO 8601 or empty to keep', 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title', 'New event title or empty to keep', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2016,
        1792
      ],
      "id": "63a39110-826b-4416-a0a9-c302f9ff66de",
      "name": "UpdateEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vbr0M6KRwoLDAOWC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Delete a Google Calendar event by event ID. Always confirm with the user before deleting. Fetch the event ID using GetEvents first.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('event_id', 'The Google Calendar event ID to delete', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2176,
        1792
      ],
      "id": "eebc85f4-77a4-4581-a608-8d3265662cd9",
      "name": "DeleteEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vbr0M6KRwoLDAOWC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use CalendarManager for anything related to events, meetings, appointments, scheduling, or when the user asks what is on today, this week, or any specific date. Also use when creating tasks that should be calendar events, or when checking availability before scheduling reminders.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', '', 'string') }}",
        "options": {
          "systemMessage": "You are Baxter's calendar management sub-agent. You have access to Google Calendar tools to read, create, update, and delete events.\n\nRULES:\n- Always retrieve existing events for the relevant time range before creating new ones to avoid duplicates.\n- When asked about today's schedule, use GetEvents with timeMin = start of today and timeMax = end of today.\n- Use ISO 8601 datetime format including timezone offset (e.g. 2025-03-13T14:00:00+01:00).\n- Confirm event details with the user before creating or deleting.\n- When creating a task that also needs a calendar block, create both."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1520,
        1616
      ],
      "id": "73b44088-cdcc-41ca-8b8a-23aa718f974b",
      "name": "CalendarManager"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieve recent news items from the local database. Use for current events, local Rotterdam/Netherlands news, AI and tech news, or any topic that may have changed recently. Also use proactively when a conversation topic connects to recent news.\nAfter retrieving results, present each item as: Title — one sentence summary. Source, date.\nWhen no specific topic is requested, pass ALL as the topic to retrieve all recent news.",
        "operation": "executeQuery",
        "query": "SELECT ns.name as source, ns.category, ni.title, ni.summary, TO_CHAR(ni.published_at AT TIME ZONE 'Europe/Amsterdam', 'DD Mon, HH24:MI') as published_at, ni.url\nFROM news_items ni\nJOIN news_sources ns ON ns.id = ni.source_id\nWHERE ns.active = TRUE\nAND (\n  '{{ $fromAI(\"topic\", \"Topic or keyword to search for, or ALL for everything\", \"string\") }}' = 'ALL'\n  OR ni.title ILIKE '%' || '{{ $fromAI(\"topic\", \"Topic or keyword to search for, or ALL for everything\", \"string\") }}' || '%'\n  OR ni.summary ILIKE '%' || '{{ $fromAI(\"topic\", \"Topic or keyword to search for, or ALL for everything\", \"string\") }}' || '%'\n)\nAND ni.published_at >= NOW() - INTERVAL '30 days'\nORDER BY ni.published_at DESC\nLIMIT {{ $fromAI(\"limit\", \"Max results to return, default 10\", \"number\") }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -16,
        1200
      ],
      "id": "1ba985b4-80c0-46b9-8b79-9b34c64c4dad",
      "name": "NewsTool",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a background task for Baxter to execute asynchronously. Use this when a request will take significant time, requires multiple steps, or can be done while Max does other things. The task starts immediately. Agents available: 'research' for web research and information gathering, 'baxter' for general tasks and analysis, 'project_manager' for task/project operations.",
        "operation": "executeQuery",
        "query": "INSERT INTO agent_tasks (name, type, status, agent, channel_id, input_type, prompts, requires_approval)\nVALUES (\n    '{{ $fromAI(\"title\", \"One-line description of the task\", \"string\") }}',\n    'task',\n    'pending',\n    '{{ $fromAI(\"agent\", \"Agent to use: research, baxter, or project_manager\", \"string\") }}',\n    {{ $('SetVars').first().json.ChannelInformation.ChannelID }},\n    '{{ $('SetVars').first().json.InputType }}',\n    jsonb_build_object('user', '', 'core', 'core-prompt-v1', 'context', '{{ $fromAI(\"instructions\", \"Full instructions for the executing agent\", \"string\") }}'),\n    false\n)\nRETURNING id::text, name as title, agent;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1248,
        1040
      ],
      "id": "b730da61-bb4b-4a6e-b35b-2790525cd916",
      "name": "CreateTask",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Check the status of background tasks. Use when Max asks for an update on a running task, or to show what tasks are pending, running or recently completed.",
        "operation": "executeQuery",
        "query": "SELECT id::text, name as title, agent, status, result::text,\n       TO_CHAR(created_at AT TIME ZONE 'Europe/Amsterdam', 'DD Mon, HH24:MI') as created_at,\n       TO_CHAR(updated_at AT TIME ZONE 'Europe/Amsterdam', 'DD Mon, HH24:MI') as completed_at\nFROM agent_tasks\nWHERE channel_id = {{ $('SetVars').first().json.ChannelInformation.ChannelID }}\nAND type = 'task'\nORDER BY created_at DESC\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1440,
        1056
      ],
      "id": "92773e78-b6a4-41c3-834f-84a1b2fe7b4a",
      "name": "GetTaskStatus",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "google_gemma-4-E4B-it-Q8_0.gguf",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        144,
        1824
      ],
      "id": "81dc233d-bab8-49a5-a5c8-3d5743a1bcba",
      "name": "LlamaCpp Research1",
      "credentials": {
        "openAiApi": {
          "id": "KwvObCRrsz5xzoGV",
          "name": "LlamaCpp"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE agent_tasks\nSET status = 'in_progress', updated_at = NOW()\nWHERE id = '{{ $('GetPendingJob').first().json.id }}'::uuid\nRETURNING id::text;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -992,
        800
      ],
      "id": "6d3ee991-1f9b-4967-89bf-c21ab9c8577a",
      "name": "MarkRunning",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "jr-check-001",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1264,
        816
      ],
      "id": "fedbe50c-a9a1-486e-bf18-c319735bb205",
      "name": "Has Pending Job?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id::text, channel_id, name as title,\n       prompts->>'context' as instructions,\n       agent\nFROM agent_tasks\nWHERE status = 'pending'\nAND type = 'task'\nORDER BY created_at ASC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1456,
        816
      ],
      "id": "6c9a5614-160d-42f2-b726-76ae9fa67c9e",
      "name": "GetPendingJob",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1664,
        816
      ],
      "id": "2f9049f0-b343-4a69-bebe-56006300299f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE agent_tasks\nSET status = 'completed',\n    result = to_json('{{ $json.result.replace(/'/g, \"''\") }}'::text)::jsonb,\n    updated_at = NOW()\nWHERE id = '{{ $json.jobId }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        800
      ],
      "id": "adbe7910-756a-4b91-ab0f-f72814374144",
      "name": "WriteResult",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('MergeResult').first().json.channelId }}",
        "text": "=✅ Job done: {{ $('MergeResult').first().json.title }}\n\n{{ $('MergeResult').first().json.result }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        800
      ],
      "id": "5c020abb-4d59-4bab-af08-76f55acc2cf0",
      "name": "NotifyMax",
      "webhookId": "jr-notify-webhook-001",
      "credentials": {
        "telegramApi": {
          "id": "N8xecKSVAm46sKrZ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "LlamaCpp Main": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ParseInput": {
      "main": [
        [
          {
            "node": "SetVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetVars": {
      "main": [
        [
          {
            "node": "FetchProfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetOutput": {
      "main": [
        [
          {
            "node": "WriteResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "SetOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetSchema": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ExecQuery": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DuckDuckGo": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WeatherAPI": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "LlamaCpp PM": {
      "ai_languageModel": [
        [
          {
            "node": "Project Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Project Manager": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetTasks": {
      "ai_tool": [
        [
          {
            "node": "Project Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory RS": {
      "ai_memory": [
        [
          {
            "node": "Research Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memory PM": {
      "ai_memory": [
        [
          {
            "node": "Project Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GetSubtasks": {
      "ai_tool": [
        [
          {
            "node": "Project Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UpsertTask": {
      "ai_tool": [
        [
          {
            "node": "Project Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UpsertSubtask": {
      "ai_tool": [
        [
          {
            "node": "Project Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetReminders": {
      "ai_tool": [
        [
          {
            "node": "Project Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UpsertReminders": {
      "ai_tool": [
        [
          {
            "node": "Project Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetProjects": {
      "ai_tool": [
        [
          {
            "node": "Project Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UpsertProject": {
      "ai_tool": [
        [
          {
            "node": "Project Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FetchProfile": {
      "main": [
        [
          {
            "node": "BuildSystemPrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildSystemPrompt": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateProfile": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LlamaCpp Calendar": {
      "ai_languageModel": [
        [
          {
            "node": "CalendarManager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MemoryCalendar": {
      "ai_memory": [
        [
          {
            "node": "CalendarManager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GetEvents": {
      "ai_tool": [
        [
          {
            "node": "CalendarManager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CreateEvent": {
      "ai_tool": [
        [
          {
            "node": "CalendarManager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UpdateEvent": {
      "ai_tool": [
        [
          {
            "node": "CalendarManager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DeleteEvent": {
      "ai_tool": [
        [
          {
            "node": "CalendarManager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CalendarManager": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NewsTool": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CreateTask": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetTaskStatus": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LlamaCpp Research1": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MarkRunning": {
      "main": [
        [
          {
            "node": "ParseInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Job?": {
      "main": [
        [
          {
            "node": "MarkRunning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPendingJob": {
      "main": [
        [
          {
            "node": "Has Pending Job?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GetPendingJob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WriteResult": {
      "main": [
        [
          {
            "node": "NotifyMax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Amsterdam",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7ae9eb04-cdee-4329-a580-1d4107933d05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "896cdcdd1cea2bc74bb94af7579514f89de660ff2048209dd7fcb278a5a84a38"
  },
  "id": "LCfoRwf4rTQ15tSc",
  "tags": []
}