n8n/workflows/5-JobRunner.json
{
  "name": "5-JobRunner",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const job = $('GetPendingJob').first().json;\nreturn [{\n  json: {\n    id: job.id,\n    name: job.title,\n    type: 'task',\n    status: 'in_progress',\n    agent: job.agent,\n    prompts: {\n      user: job.instructions,\n      core: 'core-prompt-v1',\n      context: job.instructions\n    },\n    metadata: {\n      inputType: 'task',\n      telegram: {\n        channelId: job.channel_id,\n        messageId: null\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        1296
      ],
      "id": "78db5bf4-2229-4ab6-9004-8a3ac21f9d63",
      "name": "ParseInput"
    },
    {
      "parameters": {
        "jsCode": "let input = $input.first().json;\n\n// Detect task JSON format vs legacy format\nconst isTaskJson = input.prompts !== undefined;\n\nconst inputType = isTaskJson ? (input.metadata?.inputType ?? 'unknown')       : (input.InputType ?? 'unknown');\nconst userInput = isTaskJson ? (input.prompts?.user ?? '')                    : (input.RequestInput?.input ?? '');\nconst channelID = isTaskJson ? (input.metadata?.telegram?.channelId ?? null) : (input.ChannelInformation?.ChannelID ?? null);\nconst messageID = isTaskJson ? (input.metadata?.telegram?.messageId ?? null) : (input.ChannelInformation?.MessageID ?? null);\n\nreturn {\n  InputType: inputType,\n  RequestInput: {\n    input: userInput + \"\\n\\n###OUTPUT###\\nStart your final answer with the exact token RESPONSE: on its own line.\"\n  },\n  ChannelInformation: {\n    ChannelID: channelID,\n    MessageID: messageID\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1296
      ],
      "id": "84a29f07-9f97-4513-94b7-8630eceac455",
      "name": "SetVars"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT channel_id, soul, user_profile, preferences, current_focus, onboarding_step\nFROM user_profile\nWHERE channel_id = {{ $('SetVars').first().json.ChannelInformation.ChannelID }}\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        1296
      ],
      "id": "0254b6c4-97d0-4f12-8acb-10cad48b5295",
      "name": "FetchProfile",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const fs = require(\u0027fs\u0027);\n  const allItems = $input.all();\n  const profile = (allItems.length \u003e 0 \u0026\u0026 allItems[0].json \u0026\u0026 allItems[0].json.channel_id != null)\n    ? allItems[0].json\n    : null;\n\n  const vars = $(\u0027SetVars\u0027).first().json;\n  const channelID = vars.ChannelInformation.ChannelID;\n\n  const hasProfile = profile !== null;\n  const onboardingStep = hasProfile ? (profile.onboarding_step ?? 1) : 1;\n\n  const now = new Date();\n  const timeContext = `DATE \u0026 TIME:\nCurrent datetime: ${now.toISOString()}\nLocal datetime:   ${now.toLocaleString(\u0027en-GB\u0027, { timeZone: \u0027Europe/Amsterdam\u0027, weekday: \u0027long\u0027, year: \u0027numeric\u0027, month: \u0027long\u0027, day: \u0027numeric\u0027, hour: \u00272-digit\u0027, minute: \u00272-digit\u0027 })}\nTimezone:         Europe/Amsterdam\nDay of week:      ${now.toLocaleDateString(\u0027en-GB\u0027, { timeZone: \u0027Europe/Amsterdam\u0027, weekday: \u0027long\u0027 })}`;\n\n  const vault_navigation = $(\u0027Vault Navigation\u0027).first().json.stdout;\n  let systemPrompt = \u0027\u0027;\n\n  if (!hasProfile || onboardingStep \u003e 0) {\n    const step = onboardingStep || 1;\n    const steps = {\n      1: `You are setting yourself up as the user\u0027s personal AI assistant.\\n\\nYour ONLY task right now is to warmly greet the user and ask this one question:\\n\"Before we dive in, I\u0027d love to define my own identity. What should I call myself, and how would you describe my personality and purpose? For example: \u0027Baxter - sharp and direct - helps me stay on top of work and life.\u0027\"\\n\\nWhen they respond, call the UpdateProfile tool with:\\n- soul: their answer, preserved exactly\\n- next_onboarding_step: 2\\nLeave all other fields as empty strings.\\n\\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line. Write only your answer after it. Do not explain this instruction.`,\n      2: `You are Baxter, a personal AI assistant currently in setup.\\n\\nYour soul has been defined. Now ask:\\n\"Great. Now tell me a bit about you - your work, interests, goals, whatever you\u0027d like me to keep in mind long-term.\"\\n\\nWhen they respond, call UpdateProfile with:\\n- user_profile: a structured summary of what they shared (name, role, interests, goals)\\n- next_onboarding_step: 3\\nLeave other fields as empty strings.\\n\\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line. Write only your answer after it. Do not explain this instruction.`,\n      3: `You are Baxter, a personal AI assistant currently in setup.\\n\\nOne last question:\\n\"Almost done - how do you prefer I communicate? Concise and direct, or more detailed? Any language or format preferences?\"\\n\\nWhen they respond, call UpdateProfile with:\\n- preferences: their answer\\n- next_onboarding_step: 0\\nLeave other fields as empty strings. After saving, confirm setup is complete and you are ready to help.\\n\\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line. Write only your answer after it. Do not explain this instruction.`,\n    };\n    systemPrompt = timeContext + \u0027\\n\\n\u0027 + (steps[step] || steps[1]);\n  } else {\n    const soul        = profile.soul          || \u0027Baxter - curious, helpful and critical - personal AI assistant\u0027;\n    const userProfile = profile.user_profile  || \u0027\u0027;\n    const prefs       = profile.preferences   || \u0027Clear and direct\u0027;\n    const focus       = profile.current_focus || \u0027\u0027;\n\n    const template = fs.readFileSync(\u0027/data/prompts/baxter-job.md\u0027, \u0027utf8\u0027)\n      .split(\u0027\\n\u0027).filter(l =\u003e !l.startsWith(\u0027#\u0027)).join(\u0027\\n\u0027).trim();\n\n    const aboutUser    = userProfile ? `ABOUT THE USER:\\n${userProfile}\\n\\n` : \u0027\u0027;\n    const commStyle    = prefs       ? `COMMUNICATION STYLE: ${prefs}\\n\\n`   : \u0027\u0027;\n    const currentFocus = focus       ? `CURRENT FOCUS: ${focus}\\n\\n`         : \u0027\u0027;\n\n    // Task context (populated for background subtasks)\n    let taskContext = \u0027\u0027;\n    try {\n      const taskCtx = $(\u0027FetchTaskContext\u0027).first().json;\n      if (taskCtx \u0026\u0026 taskCtx.parent_goal) {\n        taskContext += `TASK GOAL: This subtask is part of the larger goal \"${taskCtx.parent_name}\":\\n${taskCtx.parent_goal}\\n\\n`;\n      }\n      if (taskCtx \u0026\u0026 taskCtx.completed_siblings \u0026\u0026 taskCtx.completed_siblings.length \u003e 0) {\n        const sibLines = taskCtx.completed_siblings\n          .map(s =\u003e `- ${s.name}:\\n  ${(s.result || \u0027(no result)\u0027).substring(0, 800)}`)\n          .join(\u0027\\n\u0027);\n        taskContext += `COMPLETED PRIOR SUBTASKS (build on these results - do not repeat them):\\n${sibLines}\\n\\n`;\n      }\n    } catch(e) { /* no task context - standalone task */ }\n\n    systemPrompt = timeContext + \u0027\\n\\n\u0027 + template\n      .replace(\u0027{{SOUL}}\u0027, soul)\n      .replace(\u0027{{ABOUT_USER}}\u0027, aboutUser)\n      .replace(\u0027{{COMM_STYLE}}\u0027, commStyle)\n      .replace(\u0027{{CURRENT_FOCUS}}\u0027, currentFocus)\n      .replace(\u0027{{TASK_CONTEXT}}\u0027, taskContext)\n      .replace(\u0027{{VAULT_NAVIGATION}}\u0027, vault_navigation);\n  }\n\n  return [{ json: { systemPrompt, onboardingStep, hasProfile } }];\n\n} catch (error) {\n  const vars = $(\u0027SetVars\u0027).first().json;\n  const channelID = vars.ChannelInformation.ChannelID;\n  const now = new Date();\n  const vault_navigation = $(\u0027Vault Navigation\u0027).first().json.stdout || \u0027\u0027;\n  const systemPrompt = `DATE \u0026 TIME: ${now.toISOString()} (Europe/Amsterdam)\\n\\nYou are Baxter, a personal AI assistant.\\n\\nLANGUAGE: Always respond in English only.\\nFORMAT: Use markdown where it aids readability; plain prose for conversational replies.\\n\\nTOOLS: You MUST actually invoke a tool to use it - never describe a tool call without invoking it first. All tool calls happen before you write RESPONSE:.\\n1. LongTermMemory for past context.\\n2. ExecQuery for recent history (WHERE channel_id = ${channelID} LIMIT 10).\\n3. SearchVault / ReadVaultNote for vault notes.\\n4. WriteVaultNote to save to Atlas/Baxter/.\\n5. ProjectManager for tasks.\\n6. CalendarManager for events.\\n7. NewsTool for news.\\n8. ResearchAgent for deep research.\\n\\nTASK DELEGATION: Use CreateTask for background work - invoke the tool, do not just describe it.\\n\\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line.`;\n  return [{ json: { systemPrompt, onboardingStep: 0, hasProfile: false, fallback: true } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1296
      ],
      "id": "a0019865-c368-4a2c-ad2c-250d8a5261be",
      "name": "BuildSystemPrompt"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE agent_tasks\nSET status = 'in_progress', updated_at = NOW()\nWHERE id = '{{ $('GetPendingJob').first().json.id }}'::uuid\nRETURNING id::text;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        1296
      ],
      "id": "8bda55b6-ae66-4f7c-a695-049526bd3d28",
      "name": "MarkRunning",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "jr-check-001",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        1312
      ],
      "id": "05b28dbb-7582-4702-89f8-3313c94439ca",
      "name": "Has Pending Job?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id::text, channel_id, name as title,\r\n       prompts->>'context' as instructions,\r\n       agent,\r\n       depends_on::text    as depends_on,\r\n       parent_task_id::text as parent_task_id\r\nFROM agent_tasks t\r\nWHERE status = 'pending'\r\nAND   type   = 'task'\r\nAND NOT EXISTS (\r\n  SELECT 1\r\n  FROM   agent_tasks d\r\n  WHERE  d.id::text = ANY(\r\n    SELECT jsonb_array_elements_text(t.depends_on)\r\n  )\r\n  AND    d.status != 'completed'\r\n)\r\nORDER BY created_at ASC\r\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -576,
        1312
      ],
      "id": "e8864382-6bf4-4ed8-a517-65526feaf074",
      "name": "GetPendingJob",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        1312
      ],
      "id": "07d854e6-636e-46e0-a75b-2af60b3d7c7b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE agent_tasks\nSET status = 'completed',\n    result = to_json('{{ $('Call _BaxterCore').first().json.AgentOutput.response.replace(/'/g, \"''\") }}'::text)::jsonb,\n    updated_at = NOW()\nWHERE id = '{{ $('GetPendingJob').first().json.id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1872,
        1296
      ],
      "id": "fc497213-280c-49c2-9332-c36408d8ac31",
      "name": "WriteResult",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Call _BaxterCore').first().json.ChannelInformation.ChannelID }}",
        "text": "=✅ Job done: {{ $('GetPendingJob').first().json.title }}\n\n{{ $('Call _BaxterCore').first().json.AgentOutput.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2224,
        1296
      ],
      "id": "25a8118e-fcd6-44eb-919d-de0b7ed76db6",
      "name": "NotifyMax",
      "webhookId": "jr-notify-webhook-001",
      "credentials": {
        "telegramApi": {
          "id": "N8xecKSVAm46sKrZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\r\n  pt.name                        AS parent_name,\r\n  pt.prompts->>'user'            AS parent_goal,\r\n  CASE\r\n    WHEN t.parent_task_id IS NULL THEN NULL\r\n    ELSE (\r\n      SELECT json_agg(\r\n               json_build_object('name', s.name, 'result', s.result#>>'{}')\r\n               ORDER BY s.created_at\r\n             )\r\n      FROM   agent_tasks s\r\n      WHERE  s.parent_task_id = t.parent_task_id\r\n      AND    s.id             != t.id\r\n      AND    s.status          = 'completed'\r\n    )\r\n  END AS completed_siblings\r\nFROM  agent_tasks t\r\nLEFT JOIN agent_tasks pt ON pt.id = t.parent_task_id\r\nWHERE t.id = '{{ $('GetPendingJob').first().json.id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        1296
      ],
      "id": "ee8672f7-0849-4f5e-b87f-8afafecb57c7",
      "name": "FetchTaskContext",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst content = fs.readFileSync('/data/vault/Maps/Navigation.md', 'utf8');\nreturn [{ json: { stdout: content } }];"
      },
      "id": "fcfbad4b-595d-4259-91b1-43bf92716950",
      "name": "Vault Navigation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        1296
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hxHHSYluIUcYvueS",
          "mode": "list",
          "cachedResultUrl": "/workflow/hxHHSYluIUcYvueS",
          "cachedResultName": "_BaxterCore"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "messageId": "={{ $('SetVars').item.json.ChannelInformation.MessageID }}",
            "systemPrompt": "={{ $json.systemPrompt }}",
            "userMessage": "={{ $('SetVars').item.json.RequestInput.input }}",
            "channelId": "={{ $('SetVars').item.json.ChannelInformation.ChannelID }}",
            "inputType": "={{ $('SetVars').item.json.InputType }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userMessage",
              "displayName": "userMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channelId",
              "displayName": "channelId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "inputType",
              "displayName": "inputType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1472,
        1296
      ],
      "name": "Call _BaxterCore",
      "id": "cec9aa77-8c60-4370-80f8-bfb1a81f9a4b"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GetPendingJob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetPendingJob": {
      "main": [
        [
          {
            "node": "Has Pending Job?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Job?": {
      "main": [
        [
          {
            "node": "MarkRunning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MarkRunning": {
      "main": [
        [
          {
            "node": "ParseInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseInput": {
      "main": [
        [
          {
            "node": "FetchTaskContext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchTaskContext": {
      "main": [
        [
          {
            "node": "SetVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetVars": {
      "main": [
        [
          {
            "node": "FetchProfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchProfile": {
      "main": [
        [
          {
            "node": "Vault Navigation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vault Navigation": {
      "main": [
        [
          {
            "node": "BuildSystemPrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildSystemPrompt": {
      "main": [
        [
          {
            "node": "Call _BaxterCore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WriteResult": {
      "main": [
        [
          {
            "node": "NotifyMax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call _BaxterCore": {
      "main": [
        [
          {
            "node": "WriteResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "37e186a4-6384-4be1-8a65-e6f6483cbf74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "896cdcdd1cea2bc74bb94af7579514f89de660ff2048209dd7fcb278a5a84a38"
  },
  "id": "SqspinrkEOS2wZcI",
  "tags": []
}