n8n/workflows/6-SketchRenderer.json
{
  "name": "6-SketchRenderer",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"diagram_code\": \"graph TD\\n  A-->B\",\n  \"diagram_type\": \"mermaid\",\n  \"channel_id\": 8497733638,\n  \"message_id\": 0\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -608,
        80
      ],
      "id": "d31ad5cf-2035-432f-968c-a38cdbb91ca2",
      "name": "Start"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst code = input.diagram_code || '';\nconst type = (input.diagram_type || 'mermaid').replace(/['\"]/g, '');\n\nconst chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';\n\nconst bytes = [];\nfor (let i = 0; i < code.length; i++) {\n  const c = code.charCodeAt(i);\n  if (c < 128) {\n    bytes.push(c);\n  } else if (c < 2048) {\n    bytes.push((c >> 6) | 192, (c & 63) | 128);\n  } else {\n    bytes.push((c >> 12) | 224, ((c >> 6) & 63) | 128, (c & 63) | 128);\n  }\n}\n\nlet b64 = '';\nfor (let i = 0; i < bytes.length; i += 3) {\n  const b0 = bytes[i], b1 = bytes[i+1] ?? 0, b2 = bytes[i+2] ?? 0;\n  b64 += chars[b0 >> 2];\n  b64 += chars[((b0 & 3) << 4) | (b1 >> 4)];\n  b64 += i+1 < bytes.length ? chars[((b1 & 15) << 2) | (b2 >> 6)] : '=';\n  b64 += i+2 < bytes.length ? chars[b2 & 63] : '=';\n}\n\nconst encoded = b64.replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=/g, '');\nconst kroki_url = `http://kroki:8000/${type}/png/${encoded}`;\n\nreturn [{\n  json: {\n    channel_id: input.channel_id,\n    message_id: input.message_id,\n    diagram_code: code,\n    diagram_type: type,\n    encoded: encoded,\n    kroki_url: kroki_url\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        80
      ],
      "id": "9e4e0d61-3755-4299-9944-a961c8945c0a",
      "name": "BuildKrokiURL"
    },
    {
      "parameters": {
        "url": "={{ $json.kroki_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "diagram"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        80
      ],
      "id": "4f54d664-6742-401d-a0c7-2a812b8725c0",
      "name": "RenderDiagram",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "663efa0b-61dc-44d4-9adf-e6989a51c3d2",
      "name": "SendPhoto",
      "webhookId": "sr-sendphoto-webhook-001",
      "credentials": {
        "telegramApi": {
          "id": "N8xecKSVAm46sKrZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Start').first().json.channel_id }}",
        "text": "=Sketch render failed. Here's the diagram code you can paste into mermaid.live:\n\n```\n{{ $('Start').first().json.diagram_code }}\n```",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('Start').first().json.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        160
      ],
      "id": "0afc50f9-dca2-476f-b46a-42df967f71e2",
      "name": "SendFallbackText",
      "webhookId": "sr-fallback-webhook-001",
      "credentials": {
        "telegramApi": {
          "id": "N8xecKSVAm46sKrZ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: 'Sketch sent' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "de430122-28fb-4208-9823-05772b571d92",
      "name": "ReturnSuccess"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, message: 'Render failed, fallback text sent' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        160
      ],
      "id": "c1737112-5954-4f79-84dc-be0f46ea03b7",
      "name": "ReturnError"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "BuildKrokiURL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildKrokiURL": {
      "main": [
        [
          {
            "node": "RenderDiagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RenderDiagram": {
      "main": [
        [
          {
            "node": "SendPhoto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendFallbackText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendPhoto": {
      "main": [
        [
          {
            "node": "ReturnSuccess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendFallbackText": {
      "main": [
        [
          {
            "node": "ReturnError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "12da931a-c2b1-4e93-9cad-b8e4b348ce0e",
  "meta": {
    "instanceId": "896cdcdd1cea2bc74bb94af7579514f89de660ff2048209dd7fcb278a5a84a38"
  },
  "id": "O3AQfxGbmv0rNKF5",
  "tags": []
}