n8n/workflows/b-Baxter-v2-Devider.json
{
  "name": "b-Baxter-v2-Devider",
  "nodes": [
    {
      "parameters": {
        "model": "qwen2:0.5b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -2320,
        1312
      ],
      "id": "bb1abfb5-faf4-4fe5-9c93-ebda2beed900",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "d4PPJUecv5laznT9",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I need you to interpret the input fast and only give me back which of the following array objects fits most: \n- short_answer, for easy questions \n- long_answer, when extra retrieval or research is required\n- tool_use, when the request can't be fullfilled with only a text response\n- job, when it looks like the request will need more then a single agent call\n\nYou must pick only  1, and always 1\n\nYour response format should be precisly like this example:\n{\"RequestType\": \"tool_use\"}\n\nMy input: '{{$json.input}}'.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "47ba2c05-9913-476c-bcf8-3af1e50012ed",
      "name": "AI Request Devider",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2320,
        1040
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f8e0a72a-c281-41c0-b90e-3e19588fa0f7",
                    "leftValue": "=$json.requestType",
                    "rightValue": "\"job\"",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "job"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5473125d-e83d-449a-9693-548ededda3d2",
                    "leftValue": "=$json.requestType",
                    "rightValue": "\"short_answer\"",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "short_answer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cb400f9b-e02c-4306-bfee-1929aa377e93",
                    "leftValue": "=$json.requestType",
                    "rightValue": "\"long_answer\"",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "long_answer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37632dca-1b57-4689-a8be-2359d5375b75",
                    "leftValue": "=$json.requestType",
                    "rightValue": "\"tool_use\"",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tool_use"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "97559861-dbef-4ace-b00e-200284dbc3db",
      "name": "Action Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1760,
        1008
      ],
      "typeVersion": 3.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "[factual_answer, short_answer, long_answer, tool_use, test, assignment, command, job]",
        "height": 80,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        832
      ],
      "typeVersion": 1,
      "id": "d6257949-b16c-4cba-9e9d-87ca15498d03",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Tier\tPrimary Unit\tUser's Role\tSuccess Metric\nTask\tThe Prompt\tSupervisor\tAccuracy of the output.\nProject\tThe Workflow\tArchitect\tQuality of the final deliverable.\nMission\tThe Objective\tCEO\tAchievement of the goal.",
        "height": 144,
        "width": 448
      },
      "id": "2d865940-be71-48ff-abbe-78ceb9925c34",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2368,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Task types\n- Generation\n- Transformation\n- Query & analysis\n- Synthesis\n- Action\n\n",
        "height": 192,
        "width": 208
      },
      "id": "76010f8a-f3e9-4e1e-8a23-f14a2b90f366",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1744,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Project types\n- Generation\n- Transformation\n- Query & analysis\n- Synthesis\n- Action\n\n",
        "height": 192,
        "width": 208
      },
      "id": "620bdf05-d7d7-4059-89b5-d4ba4543330b",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Mission types\n- Generation\n- Transformation\n- Query & analysis\n- Synthesis\n- Action\n\n",
        "height": 192,
        "width": 208
      },
      "id": "6f3bbfc6-fe9e-41e9-bbca-f84c36924b05",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "1. Tasks (The Atoms)\nThese are \"one-and-done\" interactions. You provide an input, and you expect a single, immediate output.\n\nScope: Minutes of work.\n\nRelationship: Usually maps to one atomic intent (e.g., just Synthesis or just Generation).\n\nExample: \"Summarize this PDF\" or \"Write a Python script to rename files.\"",
        "height": 224,
        "width": 432
      },
      "id": "444b572f-748a-4c88-8d74-7604a2a8a5fc",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1872,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "2 Projects (The Molecules)\nA project requires the AI to maintain context over several steps or provide a multi-part deliverable. It’s \"elaborate\" because the output isn't a single thing, but a collection.\n\nScope: Hours or days of iterative work.\n\nRelationship: Chains multiple atomic intents together (e.g., Query the market, then Generate a report, then Transform it into a slide deck).\n\nExample: \"Design a 4-week workout plan based on my health data and create a shopping list for week one.\"",
        "height": 256,
        "width": 512
      },
      "id": "26007a90-d711-4fab-be19-35201bafbdaa",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1424,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "3 Missions (The Jobs)\nThis is what you described with the \"online business\" example. You aren't asking for a file; you’re asking for an outcome. This requires the AI to act as an agent—making decisions, self-correcting, and interacting with the world.\n\nScope: Weeks or months; often ongoing.\n\nRelationship: An orchestration of all atomic intents plus Agency (action).\n\nExample: \"Find a gap in the pet tech market, launch a Shopify store, and manage the social media presence to hit $1k in sales.\"",
        "height": 256,
        "width": 512
      },
      "id": "798db962-8abf-447a-b9b1-c3b6a48807c5",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "  {\n    \"InputType\": \"voice\",\n    \"RequestInput\": {\n      \"input\": \"Test\"\n    },\n    \"ChannelInformation\": {\n      \"ChannelID\": 8497733638,\n      \"MessageID\": 730\n    }\n  }\n"
      },
      "id": "cfce459d-815a-4fe4-b105-64762dd1f2cc",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -2784,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "let input = $input.first().json;\n\nreturn {\n  InputType: input.InputType ?? \"unknown\",\n  RequestInput: {\n    input: input.RequestInput?.input ?? \"\"\n  },\n  ChannelInformation: {\n    ChannelID: input.ChannelInformation?.ChannelID ?? null,\n    MessageID: input.ChannelInformation?.MessageID ?? null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        1040
      ],
      "id": "49da815e-d8f0-45a8-99ed-d11545a8a2da",
      "name": "SetVars"
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.first().json.output.replace(/'/g, '\"');\nlet parsed = JSON.parse(raw);\nreturn { requestType: String(parsed.RequestType.toLowerCase()) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        1040
      ],
      "id": "fad9295b-417b-482c-b1ec-e3570b491027",
      "name": "parseRequestType"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "usIykDmzlBnZzHcS",
          "mode": "list",
          "cachedResultUrl": "/workflow/usIykDmzlBnZzHcS",
          "cachedResultName": "c-Baxter-v2-Orchestrator-v7"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ JSON.stringify($('SetVars').first().json) }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1232,
        1040
      ],
      "id": "558be940-441b-4edd-bbbe-d7bce87b2d66",
      "name": "Call 'c-Baxter-v2-Orchestrator-v7'"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Request Devider",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Request Devider": {
      "main": [
        [
          {
            "node": "parseRequestType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Call 'c-Baxter-v2-Orchestrator-v7'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'c-Baxter-v2-Orchestrator-v7'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'c-Baxter-v2-Orchestrator-v7'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'c-Baxter-v2-Orchestrator-v7'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "SetVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetVars": {
      "main": [
        [
          {
            "node": "AI Request Devider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parseRequestType": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'c-Baxter-v2-Orchestrator-v7'": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "82516967-3531-4977-ab09-5ace2fd28ca6",
  "meta": {
    "instanceId": "896cdcdd1cea2bc74bb94af7579514f89de660ff2048209dd7fcb278a5a84a38"
  },
  "id": "U0nZpwWv8Mr2DoHh",
  "tags": []
}