n8n/workflows/b-Baxter-v3-Orchestrator-v1.json
{
  "name": "b-Baxter-v3-Orchestrator-v1",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"input\": \"string\"\n}"
      },
      "id": "839d2ff9-79e8-46cf-a7dc-e2bfc8ebe0d2",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        5168,
        48
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "D5CmEZRYTq20ffd6",
          "mode": "list",
          "cachedResultUrl": "/workflow/D5CmEZRYTq20ffd6",
          "cachedResultName": "z-Baxter-v2-Communication"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ JSON.stringify($('Call _BaxterCore').first().json) }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7088,
        48
      ],
      "id": "fa558157-f4b5-40b9-80ce-882543d53d40",
      "name": "Call 'z-Baxter-v2-Communication'"
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($input.first().json.input);\nreturn parsed;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5392,
        48
      ],
      "id": "21f35476-23f9-4184-b2aa-a83ad61a8143",
      "name": "ParseInput"
    },
    {
      "parameters": {
        "jsCode": "let input = $input.first().json;\n\n// Detect task JSON format vs legacy format\nconst isTaskJson = input.prompts !== undefined;\n\nconst inputType = isTaskJson ? (input.metadata?.inputType ?? 'unknown')       : (input.InputType ?? 'unknown');\nconst userInput = isTaskJson ? (input.prompts?.user ?? '')                    : (input.RequestInput?.input ?? '');\nconst channelID = isTaskJson ? (input.metadata?.telegram?.channelId ?? null) : (input.ChannelInformation?.ChannelID ?? null);\nconst messageID = isTaskJson ? (input.metadata?.telegram?.messageId ?? null) : (input.ChannelInformation?.MessageID ?? null);\n\nreturn {\n  InputType: inputType,\n  RequestInput: {\n    input: userInput\n  },\n  ChannelInformation: {\n    ChannelID: channelID,\n    MessageID: messageID\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5600,
        48
      ],
      "id": "bf76a319-5e6d-41db-b634-83f0282edab6",
      "name": "SetVars"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "message_history",
          "mode": "list",
          "cachedResultName": "message_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "channel_id": "={{ $('Call _BaxterCore').first().json.ChannelInformation.ChannelID }}",
            "message_id": "={{ $('Call _BaxterCore').first().json.ChannelInformation.MessageID }}",
            "input_type": "={{ $('Call _BaxterCore').first().json.InputType }}",
            "user_input": "={{ $('Call _BaxterCore').first().json.RequestInput.input }}",
            "agent_response": "={{ $('Call _BaxterCore').first().json.AgentOutput.response }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "input_type",
              "displayName": "input_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_input",
              "displayName": "user_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_response",
              "displayName": "agent_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6800,
        48
      ],
      "id": "d798023c-dd4b-4755-9c58-477f1555ea05",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT channel_id, soul, user_profile, preferences, current_focus, onboarding_step\nFROM user_profile\nWHERE channel_id = {{ $('SetVars').first().json.ChannelInformation.ChannelID }}\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6032,
        48
      ],
      "id": "39190369-505d-4640-bc69-ece873725be8",
      "name": "FetchProfile",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EGPB6szdcUJ4lGdK",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const fs = require(\u0027fs\u0027);\n  const allItems = $input.all();\n  const profile = (allItems.length \u003e 0 \u0026\u0026 allItems[0].json \u0026\u0026 allItems[0].json.channel_id != null)\n    ? allItems[0].json\n    : null;\n\n  const vars = $(\u0027SetVars\u0027).first().json;\n  const channelID = vars.ChannelInformation.ChannelID;\n\n  const hasProfile = profile !== null;\n  const onboardingStep = hasProfile ? (profile.onboarding_step ?? 1) : 1;\n\n  const now = new Date();\n  const timeContext = `DATE \u0026 TIME:\nCurrent datetime: ${now.toISOString()}\nLocal datetime:   ${now.toLocaleString(\u0027en-GB\u0027, { timeZone: \u0027Europe/Amsterdam\u0027, weekday: \u0027long\u0027, year: \u0027numeric\u0027, month: \u0027long\u0027, day: \u0027numeric\u0027, hour: \u00272-digit\u0027, minute: \u00272-digit\u0027 })}\nTimezone:         Europe/Amsterdam\nDay of week:      ${now.toLocaleDateString(\u0027en-GB\u0027, { timeZone: \u0027Europe/Amsterdam\u0027, weekday: \u0027long\u0027 })}`;\n\n  const vault_navigation = $(\u0027Vault Navigation\u0027).first().json.stdout;\n  let systemPrompt = \u0027\u0027;\n\n  if (!hasProfile || onboardingStep \u003e 0) {\n    const step = onboardingStep || 1;\n    const steps = {\n      1: `You are setting yourself up as the user\u0027s personal AI assistant.\\n\\nYour ONLY task right now is to warmly greet the user and ask this one question:\\n\"Before we dive in, I\u0027d love to define my own identity. What should I call myself, and how would you describe my personality and purpose? For example: \u0027Baxter - sharp and direct - helps me stay on top of work and life.\u0027\"\\n\\nWhen they respond, call the UpdateProfile tool with:\\n- soul: their answer, preserved exactly\\n- next_onboarding_step: 2\\nLeave all other fields as empty strings.\\n\\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line. Write only your answer after it. Do not explain this instruction.`,\n      2: `You are Baxter, a personal AI assistant currently in setup.\\n\\nYour soul has been defined. Now ask:\\n\"Great. Now tell me a bit about you - your work, interests, goals, whatever you\u0027d like me to keep in mind long-term.\"\\n\\nWhen they respond, call UpdateProfile with:\\n- user_profile: a structured summary of what they shared (name, role, interests, goals)\\n- next_onboarding_step: 3\\nLeave other fields as empty strings.\\n\\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line. Write only your answer after it. Do not explain this instruction.`,\n      3: `You are Baxter, a personal AI assistant currently in setup.\\n\\nOne last question:\\n\"Almost done - how do you prefer I communicate? Concise and direct, or more detailed? Any language or format preferences?\"\\n\\nWhen they respond, call UpdateProfile with:\\n- preferences: their answer\\n- next_onboarding_step: 0\\nLeave other fields as empty strings. After saving, confirm setup is complete and you are ready to help.\\n\\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line. Write only your answer after it. Do not explain this instruction.`,\n    };\n    systemPrompt = timeContext + \u0027\\n\\n\u0027 + (steps[step] || steps[1]);\n  } else {\n    const soul        = profile.soul          || \u0027Baxter - curious, helpful and critical - personal AI assistant\u0027;\n    const userProfile = profile.user_profile  || \u0027\u0027;\n    const prefs       = profile.preferences   || \u0027Clear and direct\u0027;\n    const focus       = profile.current_focus || \u0027\u0027;\n\n    const template = fs.readFileSync(\u0027/data/prompts/baxter-main.md\u0027, \u0027utf8\u0027)\n      .split(\u0027\\n\u0027).filter(l =\u003e !l.startsWith(\u0027#\u0027)).join(\u0027\\n\u0027).trim();\n\n    const aboutUser    = userProfile ? `ABOUT THE USER:\\n${userProfile}\\n\\n` : \u0027\u0027;\n    const commStyle    = prefs       ? `COMMUNICATION STYLE: ${prefs}\\n\\n`   : \u0027\u0027;\n    const currentFocus = focus       ? `CURRENT FOCUS: ${focus}\\n\\n`         : \u0027\u0027;\n\n    systemPrompt = timeContext + \u0027\\n\\n\u0027 + template\n      .replace(\u0027{{SOUL}}\u0027, soul)\n      .replace(\u0027{{ABOUT_USER}}\u0027, aboutUser)\n      .replace(\u0027{{COMM_STYLE}}\u0027, commStyle)\n      .replace(\u0027{{CURRENT_FOCUS}}\u0027, currentFocus)\n      .replace(\u0027{{VAULT_NAVIGATION}}\u0027, vault_navigation);\n  }\n\n  return [{ json: { systemPrompt, onboardingStep, hasProfile } }];\n\n} catch (error) {\n  const vars = $(\u0027SetVars\u0027).first().json;\n  const channelID = vars.ChannelInformation.ChannelID;\n  const now = new Date();\n  const vault_navigation = $(\u0027Vault Navigation\u0027).first().json.stdout || \u0027\u0027;\n  const systemPrompt = `DATE \u0026 TIME: ${now.toISOString()} (Europe/Amsterdam)\\n\\nYou are Baxter, a personal AI assistant.\\n\\nLANGUAGE: Always respond in English only.\\nFORMAT: Use markdown where it aids readability; plain prose for conversational replies.\\n\\nTOOLS: You MUST actually invoke a tool to use it - never describe a tool call without invoking it first. All tool calls happen before you write RESPONSE:.\\n1. LongTermMemory for past context.\\n2. ExecQuery for recent history (WHERE channel_id = ${channelID} LIMIT 10).\\n3. SearchVault / ReadVaultNote for vault notes.\\n4. WriteVaultNote to save to Atlas/Baxter/.\\n5. ProjectManager for tasks.\\n6. CalendarManager for events.\\n7. NewsTool for news.\\n8. ResearchAgent for deep research.\\n\\nTASK DELEGATION: Use CreateTask for background work - invoke the tool, do not just describe it.\\n\\nOUTPUT: Your final answer must start with the exact word RESPONSE: on its own line.`;\n  return [{ json: { systemPrompt, onboardingStep: 0, hasProfile: false, fallback: true } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6208,
        48
      ],
      "id": "1c66cad7-2c7a-421a-9e40-173064928d0e",
      "name": "BuildSystemPrompt"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst content = fs.readFileSync('/data/vault/Maps/Navigation.md', 'utf8');\nreturn [{ json: { stdout: content } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5824,
        48
      ],
      "id": "011364df-886f-4112-a95a-6985f6ba0c95",
      "name": "Vault Navigation"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hxHHSYluIUcYvueS",
          "mode": "list",
          "cachedResultUrl": "/workflow/hxHHSYluIUcYvueS",
          "cachedResultName": "_BaxterCore"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "messageId": "={{ $('SetVars').item.json.ChannelInformation.MessageID }}",
            "systemPrompt": "={{ $json.systemPrompt }}",
            "userMessage": "={{ $('SetVars').item.json.RequestInput.input }}",
            "channelId": "={{ $('SetVars').item.json.ChannelInformation.ChannelID }}",
            "inputType": "={{ $('SetVars').item.json.InputType }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userMessage",
              "displayName": "userMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channelId",
              "displayName": "channelId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "inputType",
              "displayName": "inputType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "messageId",
              "displayName": "messageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6496,
        48
      ],
      "name": "Call _BaxterCore",
      "id": "b573d8b7-0439-4bb7-895b-ebe6487c9017"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "input": "{\"id\":null,\"name\":\"Let's build something\",\"type\":\"orchestrator\",\"status\":\"pending\",\"agent\":\"baxter-orchestrator\",\"dependsOn\":[],\"requiresApproval\":false,\"prompts\":{\"user\":\"Let's build something\",\"core\":\"core-prompt-v1\",\"context\":\"\"},\"contextFile\":null,\"projectId\":null,\"parentTaskId\":null,\"previousTaskId\":null,\"nextTaskId\":null,\"reminders\":[],\"subtasks\":[],\"result\":null,\"response\":null,\"metadata\":{\"inputType\":\"text\",\"telegram\":{\"channelId\":8497733638,\"messageId\":1617}}}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "ParseInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseInput": {
      "main": [
        [
          {
            "node": "SetVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetVars": {
      "main": [
        [
          {
            "node": "Vault Navigation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vault Navigation": {
      "main": [
        [
          {
            "node": "FetchProfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchProfile": {
      "main": [
        [
          {
            "node": "BuildSystemPrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuildSystemPrompt": {
      "main": [
        [
          {
            "node": "Call _BaxterCore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Call 'z-Baxter-v2-Communication'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call _BaxterCore": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3d0196f4-ce49-434a-a876-cd1047f9b53f",
  "meta": {
    "instanceId": "896cdcdd1cea2bc74bb94af7579514f89de660ff2048209dd7fcb278a5a84a38"
  },
  "id": "29LJqE792ETp4ObN",
  "tags": []
}